.contact-adress-link {
    // font-style: normal;
    // font-weight: 400;
    // font-size: 14px;
    // line-height: 1.7;
     @include font ( 14px, 400, 1.7);
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    transition: color var(--duration) var(--timing-function);
    &:hover {
    color: var(--accent-color);
}
     &:focus {
    color: var(--accent-color);
}

}

.footer-contact-list {
    margin-bottom: 0;
    padding: 0;
    display: block;
    margin-top: 0px;
    @media screen and (max-width:767px) {
            text-align: center;
        }
        @media screen and (min-width:768px)and (max-width: 1199px) {
            margin-left: 76px;
            margin-bottom: 60px;
        }

}

// .contact-adress-link:hover {
//     color: var(--accent-color);
// }

// .contact-adress-link:focus {
//     color: var(--accent-color);
// }

.adress {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
   
    display: block;
    letter-spacing: 0.03em;

    padding: 0;
    margin: 0;
    margin-bottom: 12px;
    color: #ffffff;
    transition: color var(--duration) var(--timing-function);
    &:hover {
    color: var(--accent-color);
}
   
  &:focus {
    color: var(--accent-color);
}
 @media screen and (max-width:767px){
 text-align: center;
 }
 @media screen and (min-width:768px)and (max-width: 1199px){
    margin-left: 76px;
 }

}
   
// .adress:hover {
//     color: var(--accent-color);
// }

// .adress:focus {
//     color: var(--accent-color);
// }

/* .logo-footer {
  font-family: "Raleway";

  font-weight: 700;
  font-size: 26px;

  margin-bottom: 20px;
  display: inline-block;
  letter-spacing: 0.03em;

  color: #2196f3;
  text-decoration: none;
}

.logo-item-footer {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;

  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;
} */
.footer-item {
    margin-bottom: 9px;
}

.footer {
   
    background: var(--background-footer-color);
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer-container {
 display: block;

@media screen and (min-width:768px){
display: flex;
 align-items: baseline;
flex-wrap: wrap;
 

    }
    

}
.footer-social-links {
    display: flex;
    margin: 0px;
    padding: 0px;

   
 
}

.footer-links-title {
    font-family: "Roboto";
    font-style: normal;
    // font-weight: 700;
    // font-size: 14px;
    // line-height: 16px;
    @include font(14px, 700, 16px);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin: 0px;
    margin-bottom: 20px;
    color: #ffffff;
    @media screen and (max-width:1200px){
     text-align: center;
       margin-top: 12px;
    }
    
}

.footer-links-container {
     display: block;
    @media screen and (max-width:767px) {
        width: 206px;
            // margin-left: 137px;
            // margin-right: 137px;
            margin-bottom: 60px;
        margin-left: auto;
            margin-right: auto;
        }
                @media screen and (min-width:768px){
               margin-left: 165px;
                 
                }
                @media screen and (min-width:1200px){
           
               margin-left: 70px;

                }


    }
    



.footer-social-links__links-item-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    background: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms var(--timing-function);
     &:hover,
     &:focus {
    background-color: var(--accent-color);

    &.links-icon-footer {
    fill: #fff;
}
}


}

// .links-item-footer:hover,
// .links-item-footer:focus {
//     background-color: var(--accent-color);
// }

// .links-item-footer:hover .links-icon-footer {
//     fill: #fff;
// }

// .links-item-footer:focus .links-icon-footer {
//     fill: #fff;
// }

.links-icon-footer {
    fill: #fff;
}

/* форма підписки на розсилку в футері */

.e-mail-input__subscribe-news {
    width: 100%;
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    color: #f5f4fa;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: #2f303a;
    margin-top: 20px;
  
    margin-bottom: 20px;
    @media screen and (min-width:480px) {
            width: 450px;
          
        }

         @media screen and (max-width:1199px)  {
         display: block;
        margin-left: auto;
            margin-right: auto;
    
         }
         
          

    @media screen and (min-width:1200px){
        width: 358px;
        margin-bottom: 0px;
        margin-right: 12px;
    }
}

.e-mail-input__subscribe-news-title {
    font-family: "Roboto";
    font-style: normal;
    // font-weight: 700;
    // font-size: 14px;
    // line-height: 16px;
    @include font( 14px , 700, 16px);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin: 0px;
    color: #ffffff;
    @media screen and (max-width:1199px){
    text-align: center;

    }
    
}

.e-mail-input__subscribe-news-bth {
    position: relative;
   
    margin-left: auto;
        margin-right: auto;
    padding: 10px 62px 10px 28px;
    width: 200px;
    height: 50px;
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    border-radius: 4px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;

    letter-spacing: 0.06em;

    color: #ffffff;

    @media screen and (max-width:1199px){
  display: block;
    }
}

.e-mail-input {


@media screen and (min-width:768px){
    margin-left: 159px;
}

@media screen and (min-width:1200px){

margin-left: 110px;

}

   
}

.e-mail-input__icon-send {
    position: absolute;

    top: 50%;
    right: 28px;

    transform: translateY(-50%);
}