

// .container.main-nav{
//     display: flex;
//   align-items: center;
//   justify-content: space-between;
 
// }

// .page-header{
//     position: relative;
//     padding-top: 10px;
//     padding-bottom: 10px;
// }
// .mobile-menu-button{
//    line-height: 0;
//     background-color: transparent;
//     border: none;
//     padding: 0px;
// }
// .mobile-menu-btn-icon{
// fill: #212121;

// }

// .mobile-menu{
//     position: absolute;
//     width: 100%;
//     height: 100vh;
//     top: 0;
//     overflow:auto;
//      opacity: 0;
//      visibility: hidden;
//      pointer-events: none;
//      background: bisque;
//     transition: opacity var(--duration) var(--duration);visibility: var(--duration) ;
   
// }   

// .mobile-menu.is-open{
//  opacity: 1;
//     visibility: visible;
//     pointer-events: auto;



// }
// .mobile-menu__close-btn{
//     position: absolute;
//     top:10px;
//     right: 15px;
//      line-height: 0;
//     background-color: transparent;
//     border: none;
//     padding: 0px;
//     width: 40px;
//     height: 40px;
// }




// .mobile-menu__container{
// position: relative;
// padding-top: 48px;
// padding-bottom: 48px;
// }

.main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
@media screen and (max-width:768px){
    padding-top: 10px;
    padding-bottom: 10px;
}
}

.page-header {
    position: relative;
    border-bottom: 1px solid #eeeeee;
}





.mobile-menu {
    position: absolute;
    width: 100%;
    // height: 100vh;
    top: 0;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    background:#ffff;
    transition: opacity var(--duration) var(--duration);
    visibility: var(--duration);
    @media screen and (min-width:768px) {
            display: none;
        }

}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
 position: fixed;

 z-index: 2;

 
}
.mobile-menu-button {
    line-height: 0;
    background-color: transparent;
    border: none;
    padding: 0px;

    @media screen and (min-width:768px) {
        display: none;
    }
}

.mobile-menu-btn-icon {
    fill: #212121;
    transition: var(--duration) var(--timing-function);

}

.mobile-menu-button:hover .mobile-menu-btn-icon {
    fill: var(--accent-color);
}

.mobile-menu__close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    line-height: 0;
    background-color: transparent;
    border: none;
    padding: 0px;
    width: 40px;
    height: 40px;

}
.mobile-menu__close-icon {
    fill: #212121;
    transition: var(--duration) var(--timing-function);
}

.mobile-menu__close-btn:hover .mobile-menu__close-icon{
    fill:#2196F3;
}
.mobile-menu-nav-list__link:hover {
 color: #2196F3;

}


.mobile-menu__container {
    position: relative;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 0;
     padding-right: 0;
   

}


.mobile-menu-nav-list__link{
    position: relative;
 
   font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 47px;
    letter-spacing: 0.02em;
   text-decoration :none;
    color: #212121;
    @media screen and (min-width:480px){
        font-size: 40px;
    }
    &:active {
            color: #2196F3;
        }
    
        &:hover {
            color: #2196f3;
        }
    
        &:focus {
            color: #2196F3;
        }
         &.active-page::after {
             content: "";
             position: absolute;
             left: 0;
             bottom: 0;
             background: #2196f3;
             border-radius: 2px;
    
             display: block;
             width: 100%;
             height: 4px;
         }
}


.mobile-menu-nav-list__item{
display: block;


margin-left: 40px;
 margin-bottom: 32px;

}
.mobile-menu-nav-list__item:last-child{
   margin-bottom: 100px;
@media screen and (min-width:480px){
    margin-bottom: 306px;
}

}
.mobile-menu-nav-list{
    margin: 0px;
    padding: 0px;
}
.active-page {
    color: var(--accent-color);
}
.mobile-menu-contact-list{
    display: block;
    margin: 0;
   margin-left: 40px;
   padding: 0;
   margin-bottom: 64px;

}

.mobile-menu-contact-list__tel{
    display: block;
   font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    @media screen and (min-width:480px){
        font-size: 34px;
    }
    font-size: 30px;
    line-height: 40px;
   text-decoration: none;

    letter-spacing: 0.02em;

    color: #2196F3;

}
.mobile-menu-contact-list__mail{
    display: block;
   font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    margin-top: 32px;
    color: #757575;
   text-decoration: none;
}

.mobile-menu-social-links{
    display: flex;
    margin: 0px;
    padding: 0px;
@media screen and (max-width: 479px){
justify-content: center;
}
    
    @media screen and (min-width: 480px) {
            margin-left: 40px;
        }
    
    
}

.mobile-menu-social-links__list{
    position: relative;

    &:not(:last-child) {
            // margin-right: 10px;
        
       &:after {
        content: "";
       border:1px solid rgba(33, 33, 33, 0.2);
        transform: rotate(90deg);
        margin-right: 10px;
        margin-left: 10px;
        width: 22px;
        height: 0px;
    }
}
}

.mobile-menu-social-links__item{
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        @media screen and (min-width:380px){
        font-size: 18px;
        }
        line-height: 22px;
        text-decoration: none;
    
        letter-spacing: 0.02em;
    
        color: #2196F3;
        
}




.nav-list {
@media screen and (max-width:767px){

margin: 0px;
padding: 0px;
}

    @media screen and (min-width:768px){

margin: 0;
    padding: 0;
    display: flex;

    &__item {
        margin-right: 50px;

        &:last-child {
            margin-right: 0px;
        }

    }

    }
    
}
.nav-item__nav-list-link {
   display: none;

    @media screen and (min-width:768px){

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    text-decoration: none;
    display: block;
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color var(--duration) var(--timing-function);

    &:active {
        color: var(--accent-color);
    }

    &:hover {
        color: var(--accent-color);
    }

    &:focus {
        color: var(--accent-color);
    }

    &.active-page::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        background: #2196f3;
        border-radius: 2px;

        display: block;
        width: 100%;
        height: 4px;
    }
 }
}

.active-page {
    color: var(--accent-color);
}

.contacts-list__contact-list-link{
    display: none;
    @media screen and (min-width:768px) {
     display: flex;
     text-decoration: none;
        font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 14px;
          
       
            letter-spacing: 0.02em;
        
            color: #757575;
        
    
    }
         @media screen and (min-width:1200px){

        
            display: flex;
            align-items: center;
            justify-content: center;}

            transition: color var(--duration) var(--timing-function);
        
            &:hover,
            &:focus {
                color: var(--accent-color);
                fill: currentColor;
            }
        
            & .contacts-list__icon {
                margin-right: 10px;
                fill: #afb1b8;
                fill: currentColor;
            }


        
}

.contacts-list .item+.item{
    @media screen and (min-width:768px){

     margin-top: 8px;

    }
  @media screen and (min-width:1200px) {

      margin-left: 50px;
      margin-top: 0;

  }
}


.contacts-list{

    margin:0;
    padding: 0;
    @media screen and (min-width:1200px){
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0;
    display: flex;


    }


 
}

.contacts-list__contact-list-link .contacts-list__icon {
    margin-right: 8px;
    fill: #afb1b8;
    fill: currentColor;
}


.contacts-list__item{
    display: block;
  padding: 0;
  margin: 0;


}

// .contacts-list__contact-list-link:hover,
// .contacts-list__contact-list-link:focus {
//     color: var(--accent-color);
//     fill: currentColor;
// }






// + 1200px

// @media screen and (min-width:1200px){



// .contacts-list {
//     margin-top: 0px;
//     margin-bottom: 0px;
//     padding: 0;
//     display: flex;
// }



// .contacts-list__contact-list-link {

  
//     font-weight: 500;
//     font-size: 14px;
//     line-height: 1.14;
//     letter-spacing: 0.02em;

//     color: #757575;
//     text-decoration: none;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     transition: color var(--duration) var(--timing-function);

//     &:hover,
//     &:focus {
//         color: var(--accent-color);
//         fill: currentColor;
//     }

//     & .contacts-list__icon {
//         margin-right: 10px;
//         fill: #afb1b8;
//         fill: currentColor;
//     }

// }









// .page-header {
//     border-bottom: 1px solid #eeeeee;
// }

// .main-nav {
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
// }


// .nav-item {
//     display: flex;
//     align-items: center;
// }


// .contacts-list {
//     margin-top: 0px;
//     margin-bottom: 0px;
//     padding: 0;
//     display: flex;
// }

// .contacts-list__contact-list-link {
//     font-weight: 500;
//     font-size: 14px;
//     line-height: 1.14;
//     letter-spacing: 0.02em;

//     color: #757575;
//     text-decoration: none;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     transition: color var(--duration) var(--timing-function);
//      &:hover,
//      &:focus {
//     color: var(--accent-color);
//     fill: currentColor;
// }
//     & .contacts-list__icon {
//     margin-right: 10px;
//     fill: #afb1b8;
//     fill: currentColor;
// }


// }




// .contact-list-link:hover,
// .contact-list-link:focus {
//     color: var(--accent-color);
//     fill: currentColor;
// }





// .contacts-list .item+.item {
//     margin-left: 50px;
// }




// .contact-list-link>.icon {
//     margin-right: 10px;
//     fill: #afb1b8;
//     fill: currentColor;
// }




// .nav-list {
//     margin: 0;
//     padding: 0;
//     display: flex;
//     &__item {
//     margin-right: 50px;
//       &:last-child {
//     margin-right: 0px;
// }

// }
// }




// .nav-list .item {
//     margin-right: 50px;
// }






// .nav-item__nav-list-link {
//     font-weight: 500;
//     font-size: 14px;
//     line-height: 1.14;
//     letter-spacing: 0.02em;
//     color: var(--primary-text-color);
//     text-decoration: none;
//     display: block;
//     position: relative;
//     padding-top: 32px;
//     padding-bottom: 32px;
//     transition: color var(--duration) var(--timing-function);

//     &:active {
//     color: var(--accent-color);
// }
//    &:hover {
//     color: var(--accent-color);
// }
//   &:focus {
//     color: var(--accent-color);
// }
//    &.active-page::after {
//     content: "";
//     position: absolute;
//     left: 0;
//     bottom: 0;
//     background: #2196f3;
//     border-radius: 2px;

//     display: block;
//     width: 100%;
//     height: 4px;
// }

// }

// .nav-list .item:last-child {
//     margin-right: 0px;
// }



// .active-page {
//     color: var(--accent-color);
// }





// .nav-list-link:active {
//     color: var(--accent-color);
// }

// .nav-list-link:hover {
//     color: var(--accent-color);
// }

// .nav-list-link:focus {
//     color: var(--accent-color);
// }

// .nav-list-link.active-page::after {
//     content: "";
//     position: absolute;
//     left: 0;
//     bottom: 0;
//     background: #2196f3;
//     border-radius: 2px;

//     display: block;
//     width: 100%;
//     height: 4px;
//}