.hero {
  max-width: 1600px;
  margin: 0px auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/Header-m img\.jpg");
  background-color: #c4c4c4;
  background-size: cover;

  background-position: center;
  text-align: center;
  padding-bottom: 118px;
    padding-top: 118px;
  @media screen and (min-width:1200px){

  padding-bottom: 200px;
  padding-top: 200px;
     }
}



@media (min-device-pixel-ratio: 2),
(min-resolution: 2dppx),
(min-resolution: 192dpi){
.hero{
background-image: linear-gradient(to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)),
    url("../images/Header-m img@2x\.jpg");

}
}
@media (min-width: 768px){
.hero {
    background-image: linear-gradient(to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
      url("../images/Header-tabl img\.jpg");

  }
    @media(min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi){
      .hero{
      background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
          url("../images/Header-tabl img@2x\.jpg");

      }
  
    }
}

@media (min-width: 1200px){
.hero {
    background-image: linear-gradient(to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
      url("../images/Header-desc img\.jpg");

  }

  @media (min-device-pixel-ratio: 2) ,
  (min-resolution: 2dppx),
  (min-resolution: 192dpi) {
    .hero {
      background-image: linear-gradient(to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)),
        url("../images/Header-desc img@2x\.jpg");

    }

  }


}

.hero-text {
font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 42px;
  width: 360px;
  display: inline-block;
  

  margin-bottom: 30px;
  margin-top: 0px;
 
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
  @media screen and (min-width:1200px){

  
   width: 696px;
   font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    }
    
}

/* кнопка Замовити послугу */

.hero-button {
 

  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;

  color: #ffffff;
  align-items: center;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;

  padding: 10px 32px;
  background: #2196f3;
 box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

}
