.discribe-clients {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 50px;
    color: #212121;
}

.clients-list {
@media screen and (max-width:479px){
display: block;
 padding: 0px;
.clients-item:not(:last-child) {
        margin-bottom: 30px;
    }

}

    
@media screen and (min-width:480px) and (max-width:1199px){
    display: flex;
flex-wrap: wrap;
  align-items: center;
    margin: 0 ;
    padding:0 ;
gap: 30px;

}
@media screen and (min-width:1200px){
display: flex;
    .clients-item:not(:last-child) {
            margin-right: 30px;
        }
}

}

// .clients-item:not(:last-child) {
//     margin-right: 30px;
// }

.clients-list-link {
    width: 100%;
    height: 92px;
    align-items: center;
    justify-content: center;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    display: flex;
    transition: border var(--duration) var(--timing-function);
    &:hover {
      border: 1px solid #2196f3;

     
}
   &:focus {
    border: 1px solid #2196f3;
    

}

@media screen and (min-width:480px){
width: 210px;
}


@media screen and (min-width:768px){
width: 226px;

}
@media screen and (min-width:1200px){

width: 170px;

}
}

.clients-icon {
    display: flex;
    fill: #afb1b8;
    transition: fill var(--duration) var(--timing-function);
    .clients-list-link:hover & {
    fill:#2196f3;
}
 .clients-list-link:focus & {
    fill: #2196f3;
}
}

// .clients-list-link:hover {
//     border: 1px solid #2196f3;
// }

// .clients-list-link:focus {
//     border: 1px solid #2196f3;
// }

// .clients-list-link:hover .clients-icon {
//     fill:#2196f3;
// }

// .clients-list-link:focus .clients-icon {
//     fill: #2196f3;
// }